
    {% extends '../components/admin_layout.html' %}

    {% block content %}

    <div class="container-fluid p-5">
        <h2 class="title-md mb-5">Party</h2>
        <div class="text-end my-2">
            <!-- Button trigger modal -->
            <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add Party
            </button> -->
        </div>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Party Symbol</th>
                            <th>Party Name</th>
                            <!-- <th>Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for party in parties %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>                            
                                <img src="/media/{{party.logo}}" class="me-3 rounded-5 border-5  p-1" height="70" width="70" />
                            </td>
                            <td>{{party.title}}</td>

                            <!-- <td>
                                {%if party.status == 1%}
                                <a href="/admin/party/status/{{party.id}}"
                                    class="btn btn-warning bg-gradient btn-sm">Deactivate</a>
                                {%else%}
                                <a href="/admin/party/status/{{party.id}}"
                                    class="btn btn-success bg-gradient btn-sm">Activate</a>
                                {%endif%}
                            </td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

         <!-- Floating Action Button -->
         <button class="fab" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
              </svg>
         </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" action="/admin/party/" class="modal-content" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Party</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" name="title" id="title" class="form-control mb-3" placeholder="Title"
                        autocomplete="off" required />
                    <input type="file" name="logo" id="logo" class="form-control" placeholder="Party logo" accept="image/*"
                        required />
                    <small class="text-muted">*party symbol</small>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
