<!DOCTYPE html>
<html>

<head>
    {% include 'include/header.html' %}
</head>

<body>
    {% comment %} NavBar {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-3">
        <div class="container-fluid">
            <a class="navbar-brand ms-4" href="/">E-Voting</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto me-4 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link mx-2" aria-current="page" href="/admin/login/">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" aria-current="page" href="/user/login/">User</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="d-flex justify-content-center my-5">
            <div class="card w-50 p-3">
                {% if otp %}
                <div class="card-header bg-white">
                    <h4>Enter Otp</h4>
                </div>
                <form action="/user/login/" method="POST" class="card-body">
                    <input type="hidden" name="action" value="customerLogin" />
                    <input type="hidden" name="phone" value="{{phone}}" required />
                    <input type="text" name="otp" id="otp" class="form-control mb-3" placeholder="Otp"
                        autocomplete="off" />
                    <!-- <input type="password" name="password" id="lPassword" class="form-control mb-3" placeholder="Password" autocomplete="off" /> -->
                    <button type="submit" class="btn btn-primary bg-gradient">Login</button>
                </form>
                {% else %}
                <div class="card-header bg-white">
                    <h4>Login</h4>
                </div>
                <form action="/user/sendOtp/" method="POST" class="card-body">
                    <input type="hidden" name="action" value="customerLogin" />
                    <input type="text" name="phone" id="lPhone" class="form-control mb-3" placeholder="Contact no"
                        autocomplete="off" />
                    <!-- <input type="password" name="password" id="lPassword" class="form-control mb-3" placeholder="Password" autocomplete="off" /> -->
                    <button type="submit" class="btn btn-primary bg-gradient">Send Otp</button>
                    <a href="/user/register/" class="btn btn-outline-primary">Register</a>
                </form>
                {% endif %}

            </div>
        </div>
    </div>

    {% if success %}
    <script type="text/javascript">alert({ success });</script>
    {% endif %}
    {% if error %}
    <script type="text/javascript">alert({ error });</script>
    {% endif %}


</body>

</html>